@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
html {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

.triangle-down {
  position: relative;
}

.triangle-down::after {
  content: "";
  background-color: white;
  opacity: 10%;
  width: 25px;
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  position: absolute;
  top: 0;
  bottom: 0;

  right: -25px;
}

/*polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)*/

.rhombus {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
